/* The stylesheet.CSS file is loaded here */

/* Logo top left corner */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

nav {
    display: flex;
    align-items: center;
}

nav .logo {
    height: 60px; /* Adjust the height as needed */
    margin-right: 0px; /* Adjust the margin as needed */
}

/* For the nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

li {
    margin-left: 0px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    position: relative;
}



li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

body {
    background-color: #2B2A33;
    color: white;
}

/* For the main section */

main section {
    text-align: center;
}
